.join {
  background-color: #f9f9f9;
  padding-top: 52px;
  padding-bottom: 65px;
}

.join__inner {
  padding: 60px;
  background-color: white;
  display: flex;

  /* flex-direction: column; */

  /* align-items: center; */
  justify-content: center;
}

.join__title {
  font-size: 36px;
  line-height: 50px;
}

.join__text {
  margin-top: 16px;
}

.join__form {
  margin-top: 72px;
  padding: 0 30px;
}

.join__wrapper {
  max-width: 570px;
  text-align: center;
}

@media (width < 576px) {
  .join__title {
    font-size: 24px;
    line-height: 32px;
  }

  .join__inner {
    padding: 30px;
  }

  .join__form {
    padding: 0;
  }
}
